streamlit
pandas
numpy
plotly
scikit-learn
pillow
opencv-python
pydicom
matplotlib
spacy
nltk>=3.8.1
wordcloud
statsmodels
xgboost
lightgbm
catboost
shap
joblib
sklearn-crfsuite
fpdf
dotenv
langchain_huggingface
requests
langchain_community
langchain
langchain_core
langchain_groq
datetime
tensorflow