streamlit==1.39.0
pandas
streamlit-option-menu
numpy
plotly
scikit-learn
pillow
opencv-python
pydicom
matplotlib
spacy
nltk
wordcloud
statsmodels
xgboost
lightgbm
catboost
shap
joblib
sklearn-crfsuite
fpdf
python-dotenv
langchain-huggingface
requests
langchain-community
langchain
langchain-core
langchain-groq
datetime
tf-nightly-cpu==2.20.0.dev20250516
tf-keras
sentence-transformers
protobuf>=4.21.6
faiss-cpu